.container {
  background-color: white;
  background-image: url(../images/assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header_name {
  background-color: #88cf45;
  padding-bottom: 50px;
  height: 60px;
}

.container h2 {
  color: white;
  padding-top: 80px;
  padding-bottom: 60px;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
}

.searchbar {
  background-color: white;
  width: 45%;
  margin-top: 170px;
  margin-left: 365px;
  height: 150px;
  position: center;
  text-align: center;
  padding: 100px 45px 0px 45px;
}

.searchbox {
  background-color: aliceblue;
  border-style: none;
  box-shadow: 2px 5px 5px rgb(160, 203, 243);
  width: 40%;
  height: 43px;
}

.searchbox_dropdown {
  color: black;
  background-color: rgb(201, 219, 236);
  border-style: none;
  text-align: center;
  box-shadow: 2px 5px 5px rgb(160, 203, 243);
  padding-right: 10px;
  width: 120px;
  height: 45px;
}

.searchbutton {
  color: white;
  font-weight: bold;
  background-color: red;
  box-shadow: 2px 5px 5px rgb(232, 150, 173);
  border-style: none;
  width: 120px;
  height: 45px;
  border-radius: 6px;
}

.property-card {
  display: inline-block;
  width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.property-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.property-card h3.property-title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.property-card p.property-price {
  font-weight: bold;
}

.empty-container {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  color: #888;
}

.property-listings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.view-details-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.view-details-btn:hover {
  background-color: #0056b3;
}
