.signup_title {
  color: #2f52a4;
  padding-left: 100px;
  padding-bottom: 40px;
  font-size: 36px;
}

.signup_section {
  background-color: aliceblue;
  padding: 80px 50px 200px 600px;
}

.signupform_group {
  display: block;
  margin-bottom: 40px;
}

.signupnbtn {
  padding: 10px 35px;
  background-color: #5787f7;
  border-radius: 10%;
  border: none;
  margin-top: 10px;
  margin-left: 100px;
}
